@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
*{
    font-family: 'Hachi Maru Pop'
}
nav{
    background-color: gray;
    color:white;
    padding:10px;
}
nav a{
    color:white;
}
h1{
    color:blue;
}